{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <title>コーヒーシェア|{% block title %}My books{% endblock %}</title>
</head>
{% if request.path == '/sign_up/' %}
<body class="sign-up-body">
{% elif request.path == '' %}
<body class="top-body">
{% else %}
<body>
{% endif %}
<div class="container">
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
{#<script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>#}
{#<script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>#}
{% block extra_js %}{% endblock %}
</body>
</html>